{% extends "base.html.twig" %}

{% block title %}
Administration des plantes
{{ parent() }}
{% endblock %}

{% block body %}
{% include "Layout/nav.html.twig" %}
<h2>Rechercher une plante</h2>
<div class="wrap">
    <div class="searchBar">
        <input type="text" class="searchText" placeholder="Ficus Benjamina">
        <button type="submit" class="searchSubmit">
            <img src="{{ asset('images/components/loupe.png') }}" alt="Loupe grossissante">
        </button>
    </div>
</div>

<main>
    <section>
        <div class="mainCardsPlantarium">
            {% include 'Frontend/UserPlants/PlantList/_plantList.html.twig' %}
        </div>
    </section>

</main>

<div class="navigation">
<p>page(s){{ knp_pagination_render(pagination) }}</p>
</div>

{% endblock %}