{% extends "base.html.twig" %}

{% block title %}
Administration des plantes
{{ parent() }}
{% endblock %}
{% block body %}
            {% include "Layout/nav.html.twig" %}
<h2>Rechercher une plante</h2>
<div class="wrap">
    <div class="searchBar">
        <input type="text" class="searchText" placeholder="Ficus Benjamina">
        <button type="submit" class="searchSubmit"></button>
    </div>
</div>


<main>
<div class="mainCardsPlantarium">
{% include 'Frontend/UserPlants/PlantList/_plantList.html.twig' %}
    </div>
   
</main>
</body>

{% endblock %}