{% extends "base.html.twig" %}

{% block title %}
Connexion
{{ parent() }}
{% endblock %}
{% block body %}

<body class="connexion">


	<h1>Plantarium</h1>



	<main>
		<form class="formDisplay" action="{{ path('app.connexion') }}" method="post">

			<div>
				<div><label for="email">Veuillez entrer votre adresse mail</label></div>
				<input type="email" id="email" name="_username" value="{{ lastUsername }}"
					placeholder="john@example.com">
			</div>

			<div>
				<div><label for="password">Votre mot de passe</label></div>
				<input type="password" id="password" name="_password"="form-control" placeholder="S3CR3T">

				<div><input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<button class="button" type="submit">Connexion</button></div>
		</form>

		<p>Mot de passe oublié ? <br> Cliquez ici pour le réinitialiser</p>
	</main>
</body>
{% endblock %}