{% extends "base.html.twig" %}

{% block title %}
Home
	{{ parent() }}
{% endblock %}

{% block body_class %}home{% endblock %}
{% block body %}
<body class="home">

<main>
<h1 id="homeTitle">Plantarium</h1>
</main>
</body>
		


{% endblock %}




