{% extends "base.html.twig" %}

{% block title %}
Home
	{{ parent() }}
{% endblock %}

{% block body_class %}home{% endblock %}
{% block body %}
<body class="home">
	


<h1>Plantarium</h1>

</body>
		


{% endblock %}




