{% extends "base.html.twig" %}

{% block title %}
    Bienvenue sur 
	{{ parent() }}
{% endblock %}
{% block body %}
    
		<h1>Plantarium</h1>
            <ul>
            <li><a href="{{ path('app.connexion') }}">Se connecter</a></li>
            <li><a href="{{ path('app.inscription') }}">S'inscrire</a></li>

        </ul>

{% endblock %}