{% extends "base.html.twig" %}

{% block title %}
inscription
{{ parent() }}
{% endblock %}
{% block body %}

<body class="inscription">

    <h1>Plantarium</h1>



    <main class = formDisplay>
        {{form_start(form)}}
         {{form_widget(form, {'attr': {'class': 'formDisplay'}}) }}
        <button class="button" type="submit">Valider</button>
        {{form_end(form)}}
    </main>
</body>
{% endblock %}