{% extends 'base.html.twig' %}

{% block title %}
	Modification d'une famille
	{{ parent() }}
{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle famille de plante</h1>
    {{ form_start(form) }}
        {{ form_row(form.Name) }}
        <button type="submit">Ajouter</button>
    {{ form_end(form) }}
{% endblock %}
