{% extends 'base.html.twig' %}

{% block title %}
	Modification d'une famille
	{{ parent() }}
{% endblock %}

{% block body %}
	<section>
		<h1>Modification d'une famille</h1>
		{% include 'Backend/Plants/Fields/_form.html.twig' %}
	</section>
{% endblock %}
