{% extends 'base.html.twig' %}

{% block title %}
	Modification d'un utilisateur
	{{ parent() }}
{% endblock %}

{% block body %}
	<section>
		<h1>Modif d'un user</h1>
		{% include 'Backend/Users/_form.html.twig' %}
	</section>
{% endblock %}
