{% extends 'base.html.twig' %}

{% block title %}
	Modification d'une plante
	{{ parent() }}
{% endblock %}

{% block body %}
<span class="return">
    <a href="{{ path('editor.plants.index') }}"><img src="{{ asset('images/components/cross.svg') }}" alt="Retour arrière"></a>
</span>
	<section>
		<h1>Modification d'une plante</h1>
		<a href="{{ path('editor.plants.field.index') }}">Ajouter des champs</a>
		{% include 'Backend/Plants/_form.html.twig' %}
	</section>
{% endblock %}
