{% extends 'base.html.twig' %}

{% block title %}
	Ajouter des champs de selection
	{{ parent() }}
{% endblock %}

{% block body %}
	<section>
		<h1>Ajouter des champs de selection</h1>

		{% include 'Backend/Plants/_form.html.twig' with {button_label: 'Créer'} %}
		<a href="{{ path('editor.plants.index') }}" class="btn btn-secondary">Retour à la liste des plantes</a>
                {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
	</section>
{% endblock %}
