{% for userPlant in userPlants %}
    {% include 'Frontend/UserPlants/UserPlantProfile/_plantCard.html.twig' %}

{% else %}
<div>
    <p>Vous n'avez pas encore de plantes dans votre profil</p>
    </div>
{% endfor %}