{% for userPlant in userPlants %}
    {% include 'Frontend/UserPlants/UserPlantProfile/_plantCard.html.twig' %}

{% else %}
<div class="alert-info" id="plant-no-image">
    <p>Vous n'avez pas encore de plantes dans votre profil</p>
    </div>
{% endfor %}