{% extends "base.html.twig" %}

{% block title %}
main
{{ parent() }}
{% endblock %}
{% block body %}
            {% include "Layout/nav.html.twig" %}
<body class="main">
    

<h2>Trier mes plantes par </h2>
<main>
<div class="mainCardsUser">
{% include 'Frontend/UserPlants/UserPlantProfile/_plantList.html.twig' %}
    </div>
   
</main>
</body>
{% endblock %}