{% extends "base.html.twig" %}

{% block title %}
Mes plantes
{{ parent() }}
{% endblock %}
{% block body %}
<h1>Plantarium</h1>

<nav>
<h2>Mes plantes</h2>
</nav>
<div>

</div>
<main>
    <table>
        <thead>
            <tr>
                <th>Espèce</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Photo</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</main>

{% endblock %}
