@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

body {
    @include font-secondary; // Default font for the body
    // background-color: aqua;
    height: 100%;
    background-image: url(../../../public/images/background/MainBackground.png);
    background-size: cover;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @include font-primary; // Primary font for headings
  }
  
  p {
    @include font-tertiary; // Tertiary font for paragraphs
  }

  .quote {
    @include font-quaternary; // Quaternary font for quotes or specific elements
  }


li {
  list-style: none;
}
header {
  height: 25%;
  margin-bottom: 5em;
}

header div ul {
  display: flex;
  flex-direction: row;
}

header div ul li{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
nav {
  height: 25%;
  margin-bottom: 5em;
}
main {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3em;
}


.profilePic {
  border: 4px solid $white-font;
  border-radius: 50px;
}

img {
  backdrop-filter: blur(0.4);
  background: 255, 255, 255, 0.5;
}