@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {

  flex-wrap: wrap;
  height: 100vh;
  background-image: url(../../img/background/HomeBackground.png);
  background-size: cover;
  box-sizing: border-box;
  @include font-secondary;
}

h1, h2, h3, h4, h5, h6 {
  @include font-primary;
}

.quote {
  @include font-quaternary;
}

li {
  list-style: none;
}

main {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.fadeIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 2s ease-in forwards; 

}
// Définition des keyframes pour l'animation fadeIn
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


#homeTitle {
  font-size: 2em;
  margin-bottom: 5vh; 
}


.homemessage {
  
  padding: 1em;
  font-size: 1em;
}

.logReg {
  height: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}

.logReg ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding-left: 0px;
}


// nav {
//   // height: 25%;
//   margin-bottom: 1em;
//   border-bottom: $bright-green;
// }




// }
// aside {
//   display: flex;
//   justify-content: center;
// }

// .profilePic {
//   border: 4px solid $white-font;
//   border-radius: 100px;
//   width: 125px;
//   height: 125px;
//   display: flex;
//   justify-content: center;
// }

// .userPic {
//   border: 4px solid $white-font;
//   border-radius: 100px;
//   width: 125px;
//   height: 125px;
// }


// #diseases-field {
//   display: none;
// }

// .headerMain {
//   display: flex;
//   flex-direction: column;
// }

// #inscription_CGU {
//   width: 20px;
//   height: 20px;
//   border-radius: 10px;
// }

// .alert {
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   .img {
//     width: 100px;
//     height: 100px;
//   }

//   // Styles pour les différents types de messages d'alerte

//   &.alert-danger {
//     background-color: #f2dede;
//     color: #a94442;
//     border-radius: 5px;  // Ajout du border-radius
//     padding: 10px;  // Ajout du padding
//     margin-bottom: 15px;  // Ajout de la marge
//   }

//   &.alert-success {
//     background-color: #dff0d8;
//     color: #3c763d;
//     border-radius: 5px;  // Ajout du border-radius
//     padding: 10px;  // Ajout du padding
//     margin-bottom: 15px;  // Ajout de la marge
//   }

//   &.alert-warning {
//     background-color: #fcf8e3;
//     color: #8a6d3b;
//     border-radius: 5px;  // Ajout du border-radius
//     padding: 10px;  // Ajout du padding
//     margin-bottom: 15px;  // Ajout de la marge
//   }

//   &.alert-info {
//     display: flex;
//     justify-content: center;
//     background-color: #d9edf7;
//     color: #31708f;
//     border-radius: 5px;  // Ajout du border-radius
//     padding: 10px;  // Ajout du padding
//     margin-bottom: 15px;  // Ajout de la marge
//   }
// }

.animP {
  opacity: 0; /* Starts with the text invisible */
  transform: translateX(100%); /* Starts off-screen to the right */
  margin-bottom: 2em;
  animation: slideIn 1s ease-out forwards; /* Applies the animation */
  animation-delay: 2s; /* Delays the start of the animation */
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

/* Keyframes for the slideIn animation */
@keyframes slideIn {
  0% {
      opacity: 0; /* Fully transparent */
      transform: translateX(100%); /* Fully to the right */

  }
  100% {
      opacity: 1; /* Fully visible */
      transform: translateX(0); /* At its final position */

  }
}

// .text-center {
//   display: flex;
//   justify-content: center;
// }

// .mainTitle::first-letter {
//   color: $bright-green;
// }