@media (min-width: 0px) {
  .h1Detail{
    padding-bottom: 1em;
    font-size: 1.5em;
  }
 h1 {

      font-size: 3em;
      color: $dark-font;
      text-align: center;
      @include font-primary;
    }
  
    h2 {
      font-size: 1.5em;
      color: #111212;
      text-align: center;
    }
  
    h3 {
      font-size: 1.3em;
    }
    h4 {
      font-size: 1.2em;
      text-align: center;
    }
    a {
      text-decoration: none;
      color: $dark-font;
    }

    p {
      @include font-secondary; 
      font-size: 1em;
    }
  }
footer {
  a{
    @include font-secondary; 
  }
}
  @media (min-width: 768px) {
    body{
      font-size: 1.4em;
      .h1Detail{
        padding-bottom: 2em;
      }
    }
    h1 {
      font-size: 2.5em;
      color: $dark-font;
      text-align: center;
      @include font-primary;
    }
  
    h2 {
      font-size: 2em;
      color: #111212;
      text-align: center;
    }
  
    h3 {
      font-size: 1.8em;
    }
    h4 {
      font-size: 1em;
      text-align: center;
    }
    a {
      text-decoration: none;
      color: $dark-font;
    }

    p {
      @include font-tertiary; 
      font-size: 1em;
    }
  }