body {
    @include font-secondary; // Default font for the body
  }
  
  h1, h2, h3, h4, h5, h6 {
    @include font-primary; // Primary font for headings
  }
  
  h1 {
    font-size: 5em;
    color: #111212;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: $dark-font;
  }
  p {
    @include font-tertiary; // Tertiary font for paragraphs
  }
  
  .quote {
    @include font-quaternary; // Quaternary font for quotes or specific elements
  }