{% extends "base.html.twig" %}

{% block title %}
Conditions générales d'utilisation
{{ parent() }}
{% endblock %}
{% block body %}
   {% include "Layout/nav.html.twig" %}
    <h1>Conditions générales d'utilisation</h1>

{% endblock %}