{% extends "base.html.twig" %}

{% block title %}
Copyrights
{{ parent() }}
{% endblock %}
{% block body %}
{% include "Layout/nav.html.twig" %}
<h1>Copyrights</h1>
<section>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</section>

{% endblock %}