{% extends "base.html.twig" %}

{% block title %}
Crédits
{{ parent() }}
{% endblock %}
{% block body %}
   {% include "Layout/nav.html.twig" %}

    <h1>Crédits</h1>
   <main>
    <ul>
    <li>Loupe : <a href="https://www.flaticon.com/fr/icones-gratuites/loupe" title="loupe icônes">Loupe icônes créées par Freepik - Flaticon</a></li>
    </ul>
    </main>
{% endblock %}