{% extends 'base.html.twig' %}

{% block title %}Hello UserPlantsController!{% endblock %}

{% block body %}


<div class="example-wrapper">

    <h1>TEST</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/pc103-04-admin/Desktop/Symfony_dev/PlantariumApp/src/Controller/UserPlantsController.php</code></li>
        <li>Your template at <code>C:/Users/pc103-04-admin/Desktop/Symfony_dev/PlantariumApp/templates/user_plants/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
