{% extends 'base.html.twig' %}

{% block title %}
Mes plantes
{{ parent() }}
{% endblock %}
{% block body %}
{% include "Layout/nav.html.twig" %}
<h2>Arrosage</h2>
 <div id='calendar'>calendrier</div>
{% endblock %}
