/*Palette de couleur*/

    /* primary colors */
$light-green: rgba(54, 231, 25, 0.27);
$medium-green: rgba(121, 177, 133, 0.63);
$dark-gren: rgba(17, 82, 32, 0.56);

    /* secondary colors */
$obscure-green: rgba(31, 62, 38, 0.56);
$bright-green: rgba(49, 195, 81, 0.75);

    /* Background colors */

$gradient-background: linear-gradient(#85CE95, #31C351);
$glassmorphism: rgba(255, 255, 255, 0.5);

    /* Fonts colors*/
$dark-font: #111212;
$white-font: #FAFFFC;



@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');
$font-primary: 'EB Garamond', serif;
$font-secondary: 'Lato', sans-serif;
$font-tertiary: 'Playfair Display', serif;
$font-quaternary: 'Wittgenstein', serif;
/* Border bottom */

// $border-botom:( rgba(222, 255, 201, 1), border-radius: 0, 24px, 24px, 0 height: 6px);

//     /* select button*/
//  $transparent-background: (rgba(255, 255, 255, 0.5), Border radius: 0 Width: 268 px Height: 45 px);

//     /* form field*/

// $form-field:( Background: rgba(255, 255, 255, 0.5) Border radius: 0 Width: 268 px Height: 45 px);


//     /* info-window */

// $window: (Background: rgba(255, 255, 255, 0.5) Border radius: 0 Width: 268 px Height: 45 px);