.button {
  margin-top: 1em;
  margin-bottom: 1em;
  @include font-secondary;

  background: $glassmorphism;
  color: $dark-font;
  border-radius: 8px;
}

.return {
  display: flex;
  justify-content: flex-end;
  margin-right: 5em;
}  

.return img {
  width: 1.5em;
  height: 1.5em;
}

.addPlant {
  background: transparent;
  border: none;
}

.addPlant img {
  display: flex;
  width: 1.5em;
  height: 1.5em;
  align-items: center;
}

.addButton {
  display: flex;
  height: 2em;
  align-items: center;
}