.button {
  margin-top: 1em;
  margin-bottom: 1em;
  @include font-secondary;
  background: $glassmorphism;
  color: $dark-font;
  border-radius: 8px;
  cursor: pointer;
}

.return {
  display: flex;
  justify-content: flex-end;
  margin-right: 5em;
  cursor: pointer;
}  

.return img {
  width: 1.5em;
  height: 1.5em;
}

.addPlant {
  background: transparent;
  border: none;
  cursor: pointer;
}

.addPlant img {
  display: flex;
  width: 1.5em;
  height: 1.5em;
  align-items: center;
}

.removePlant {
  background: transparent;
  border: none;
  cursor: pointer;
}

.removePlant img {
  display: flex;
  width: 1.5em;
  height: 1.5em;
  align-items: center;
}
.addButton {
  display: flex;
  height: 2em;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;

}

.modifyButton {
  border: 3px solid $pine-green;
  border-radius: 12px 10px;
  background: $white-font;
  color: $dark-font;
  box-sizing: border-box;
  padding: 5px;
  cursor: pointer;
}

.modifyButton:hover {
  background-color: $obscure-green;
  color: $white-font;
  border: $white-font;
}

.deleteButton {
  border: 2px solid $pine-green;
  border-radius: 12px 10px;
  background: $pine-green;
  color: $white-font;
  box-sizing: border-box;
  overflow: hidden;
  padding: 5px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: $obscure-green;
  color: $white-font;
  border: $white-font;
}

.tagsButton {
  display: flex;
  justify-content: center;
  width: 10em;
  border: 2px solid $pine-green;
  border-radius: 10px 12px;
  padding: 0 5px 0 5px;
  color: $white-font;
  background: $pine-green;
  box-sizing: border-box;
  cursor: pointer;
}

.tagsButton:hover {
  background-color: $obscure-green;
  color: $white-font;
  border: $obscure-green;
}

.categTags {
  border: 2px solid $white-font;
  border-radius: 10px 12px;
  padding: 0.5em 0.1em 0.5em 0.1em;
  color: $white-font;
  background: $pine-green;
  text-align: center;
}

.categTags:hover {
  background-color: $obscure-green;
  color: $obscure-green;
}

.toggle-plant {
  border: 0 transparent;
  background: transparent;
}

.resetButton {
  width: 10em;
  border-radius: 10px 12px;
  padding: 0 5px 0 5px;
  background-color: $bright-green;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
}

.resetButton:hover {
  background-color: $obscure-green;
  color: white;
}

.activeButton {
  background: transparent;
/* Applique un border-radius de 12px uniquement à l'angle inférieur droit */
  /* Ajoute une bordure de 2px en bas */
  border: none;
  padding: 0.5em;
  outline: none;  
  cursor: pointer;  
}

.activeButton:hover {
  border: 3px solid $white-font;
  border-radius: 12px 10px;
  background: $white-font;
  color: $white-font;
  box-sizing: border-box;
  padding: 5px;
  background: transparent;
}

.validationButton {
  border: 3px solid $white-font;
  border-radius: 12px 10px;
  padding: 1em 0.5em 1em 0.5em;
}