.plantContainer {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    overflow-y: auto;
    background: transparent;
    box-sizing: border-box;
}

.plantContainer img {
    max-width: 100%;
    /* S'assurer que les images ne débordent pas */
    height: auto;
}

/* Conteneur des cartes principales */
.mainCardsUser {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    max-height: 100vh;
    /* Limite la hauteur totale pour éviter les débordements */
    overflow-y:auto;
    border-radius: 16px;
}

/* Grille des cartes Plantarium */
.mainCardsPlantarium {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
    justify-content: center;
}

@media (min-width: 768px) {
    .mainCardsPlantarium {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .mainCardsPlantarium {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Taille des icônes SVG */
.size-svg {
    width: 25px;
    height: 25px;
}

/* Stylisation des cartes (User et Plantarium) */
.cardUser {
    width: 20em;
    height: 20em;
    position: relative;
    overflow: hidden;
    border-radius: 24px;
    border: 10px solid $white-font;
}

.cardPlantarium {
    position: relative;
    width: 20em;
    height: 20em;
    overflow: hidden;
    border-radius: 24px;
    border: 10px solid $white-font;

    .addButtonCard {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 10;
        display: flex;
        align-items: center;
        /* Aligne verticalement le label et le bouton */

        .addLabel {
            display: none;
            /* Cacher le label par défaut */
            margin-right: 5px;
            font-size: 0.8em;
            color: $dark-font;
        }

        .addPlantCard {
            background-color: transparent;
            border: none;
            cursor: pointer;
            transition: transform 0.3s ease;

            img {
                width: 20px;
                height: 20px;
                background: $dark-font;
            }

            &:hover {
                transform: scale(1.5);

                .addLabel {
                    /* Afficher le label au survol du bouton */
                    display: inline-block;
                }
            }
        }
    }
}


.cardUser .img-container,
.cardPlantarium .img-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    /* Uniformisation de la bordure */
}

.cardUser img,
.cardPlantarium img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    /* Uniformisation de la bordure */
}

.cardUser .gradient-overlay,
.cardPlantarium .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(11, 12, 11, 0) 50%, rgba(11, 12, 11, 1) 100%);
    border-radius: 16px;
    z-index: 1;
}

/* Titre des plantes */
.plantTitle {
    color: $white-font;
    text-align: center;
    transform: translateY(-10%);
    font-size: 2em;
    font-style: italic;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 2;
}

.textareaClass {
    width: 100%;
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.fontDistinction {
    font-size: 1.1em;
    font-style: italic;
}

.diaryClass {
    text-align: left;
    border-radius: 10px 12px;
    padding: 0.5em 1em;
    color: $dark-font;
    background: $white-font;
    margin-right: 5em;
}

aside {
    width: 100%;
    img {
        height: 400px;
    }
}

.plantPic {
    width: 100vw;
    // transform: translateX(20px);
    margin-top: 2em;

    // display: flex;
    // justify-content: flex-start;
    img {
        width: 100%;
        // height: 400px;
        // border-radius: 24px;
        object-fit: cover;
        border-bottom: 3px solid $white-font;
        border-top: 3px solid $white-font;
    }

}

.return {
    display: flex;
    align-items: center;

    img {
        background: transparent;
        transform: translate(326px, 0);
        width: 2em;
        height: 2em;
        z-index: 20;
    }

}

.plantCard {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $combined-background;
}

section{
    h4{
        margin-bottom: 2em;
    }
}

.cardText {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .plantInfos {
        display: flex;
        padding: 0.5em;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 2em;
    }

    .categFields {
        padding: 0.5em;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 1fr);
        gap: 2em;

        .SelectUnit{
            display: flex;
            flex-direction: column;
            padding-bottom: 1em;
        }
    }

    .categClass {
        display: flex;
        flex-direction: row;
    }
    
    span {
        margin-right: 2em;
    }

    .categInfos{
        display: flex;
        justify-content: center;
        .categUnit {
            display: flex;
            flex-direction: row;
            padding-bottom: 1em;
        
    
        }
    }
    
    

    .categFont {
        font-weight: bold;
    }

    .categUnit:last-child {
        border-bottom: none;
    }
    .categComponent {
        padding: 5px 8px 5px 8px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background: $obscure-green;
        color: $white-font;
        border-radius: 6px;
        margin-right: 1em;
    }
}

.categDescription {
    font-weight: 500;
    font-size: 1.1em;
}

.categUnit {
    span {
        text-align: center;
    }

}

.categFont {
        font-weight: bold;
        display: flex;
        flex-direction: row;
    }