// .wrap {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin: 20px;
//     outline: none; 
// }

.searchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2em;
    outline: none; 
}

.searchText {
    font-size: 1em;
    outline: none; 
    border: none; 
    border-radius: 10px 12px 12px 10px;
}

.searchText:focus {
    outline: none; 
    border: none; 
}

.searchSubmit {
    border: none; 
    background: none; 
    cursor: pointer; 
    outline: none; 
    display: flex;
    align-items: center;
    background: $white-font;
    margin: none;
}

.searchSubmit img {
    width: 20px; 
    height: 20px; 
    outline: none; 
    justify-content: flex-end;
}