.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    outline: none; /* Remove default outline */
}

.searchBar {
    display: flex;
    align-items: center;
    border-radius: 10px 12px 12px 10px;
    background: $white-font;
    outline: none; /* Remove default outline */
}

.searchText {
    padding: 10px;
    font-size: 16px;
    outline: none; /* Remove default outline */
    border: none; /* Remove border */
    border-radius: 10px 12px 12px 10px;

}

.searchText:focus {
    outline: none; /* Ensure no outline on focus */
    border: none; /* Ensure no border on focus */
}

.searchSubmit {
    border: none; /* Remove default border */
    background: none; /* Remove default background */
    cursor: pointer; /* Show pointer cursor on hover */
    outline: none; /* Remove default outline */
    display: flex;
    align-items: center;
    border-radius: 10px 12px 12px 10px;
    background: $white-font;
    padding: 10px;
}

.searchSubmit img {
    width: 20px; /* Adjust the size as needed */
    height: 20px; /* Adjust the size as needed */
    outline: none; /* Remove default outline */
}