.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    outline: none; 
}

.searchBar {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px 12px 12px 10px;
    background: $white-font;
    outline: none; 
}

.searchText {
    padding: 10px;
    font-size: 16px;
    outline: none; 
    border: none; 
    border-radius: 10px 12px 12px 10px;
}

.searchText:focus {
    outline: none; 
    border: none; 
}

.searchSubmit {
    border: none; 
    background: none; 
    cursor: pointer; 
    outline: none; 
    display: flex;
    align-items: center;
    border-radius: 10px 12px 12px 10px;
    background: $white-font;
    padding: 10px;
}

.searchSubmit img {
    width: 20px; 
    height: 20px; 
    outline: none; 
    justify-content: flex-end;
}