footer {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    background: $glassmorphism;
}

.footerUnit {
    padding: 2em;
}

.footerUnit p {
text-align: center;
}