.formDisplay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        margin-bottom: 1rem;
        justify-content: center;
    
        input {
          padding: 0.5rem;
          border: 1px solid #ccc;
          border-radius: 4px;
          width: 100%;
        }
      }

      label {
          font-weight: bold;
          padding: 5px;
          
        }

      select {
        display: flex;
        margin-bottom: 1em;
      }

      input[type='submit'] {
        display: flex;
        height: 20px;
      }

form {
display: flex;
justify-content: center;
gap: 1em;
flex-direction: column;
}

.formSearch {
  display: flex;
  flex-direction: row;
}

label {
margin-right: 1em;
}

select {
  background: $glassmorphism;
  border-radius: 6px 6px;
  padding: 5px;
}