.header {
  @include font-primary;
}
header {
  height: 25%;
  margin-bottom: 5em;
}

ul  {
  list-style: none;
}

li a {
  padding: 1em;
}

.registerLogin {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 2em;
  font-size: 1em;
}

.link {
  font-size: 1em;
}
.active {
  font-size: 2em;
  font-weight: bold;
}