.nav {
    width: 100%;
    align-items: center;
    }

.menu {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr ;

}

.menuItem {
    font-size: 2em;
    @include font-primary;
    width: auto;
}
