.nav {
    width: 100%;
    align-items: center;
    }

.menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.menuItem {
    font-size: 2em;
    @include font-primary;
    width: auto;
}
