nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    }

.menu {
    padding-left: 0;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.menuItem {
    font-size: 1em;
    @include font-primary;
    width: auto;
    justify-content: center;
    text-decoration: none;
    padding: 0.5em;
}

.menuItem a{

    text-decoration: none;
}

