.navigation {
    display: flex;
    margin-top: 1em;
    justify-content: center;
    padding: 1em;
    text-align: center;
}
// .navigation p {
//     display: flex;
//     justify-content: center;
// }