@media (min-width: 0px) {
.table-containerMain {
  width: 100%;
  overflow-x: auto;
  background: $glassmorphism;

  table {
    width: 100%;
    border-collapse: collapse;
    border-top: 3px solid $dark-font;

    overflow-x: auto;
    margin: 1em;
    font-size: 0.5em;
    form{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  th, td {
    width: 20em;
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
   
  }

  tbody {
    margin-top: 5em;
  }
  tbody tr:nth-child(even) {
    background-color: #918d8d; /* Alternance de couleur */
  }

  th {
    font-size: 1.1em;
    text-transform: uppercase;
    text-align: center;
  }
  
  td {
    font-size: 1.2em;
    line-height: 1.2em;
      letter-spacing: 1px;
      text-align: center;
      font-size: 1.5em;
      img {
        max-width: 50px;
        max-height: 50px;
      }
   
  
  }

  td p.tagFont {
    margin: 0; /* Supprimer les marges autour des tags */
    font-size: 0.85em;
    padding: 5px;
    background-color: $pine-green;
    border-radius: 4px;
    display: inline-block;
  }

  .profilePic {
    border-radius: 10px; /* Coins arrondis pour l'image */
    object-fit: cover;
  }
  
  .modifyButtoncolor{

  background: #31C351;
  color: $white-font;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.85em;
}
  
  .deleteButton {
    color: $white-font;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.85em;
  }
  
  td.description {
    max-width: 300px;
    white-space: normal; /* Autoriser les retours à la ligne */
    overflow: hidden;
    text-overflow: ellipsis; /* Couper les textes trop longs avec "..." */
  }

  tbody td {
    text-align: center;
    
  }

  tbody tr {
    text-align: center;
  }



  td a {
    display: flex;
    justify-content: center;
  }



  .tagFont {
    font-weight: bold;
    background: #115220;
    color: $white-font;
    border: 2px solid #115220;
    border-radius: 6px;
    margin-bottom: 1em;
  }
}

.fieldAdd {

  display: flex;
  width: 100%;
  height: 10em;
}
thead th:nth-child(4) {
  width: 20em;
}
thead th:nth-child(1) {
  width: 2em;
}

thead th:nth-child(5) {
  width: 15em;
}
thead th:nth-child(9) {
  width: 25em;
}
thead th:nth-child(10) {
  width: 15em;
}

  .modifyField{
    display: flex;
    width: 100%;
    flex-direction: row;
    .modifyButton{
      padding: 5px 20px 5px 20px;
    }
  }
}


@media (min-width: 768px) {
  .wideTable{
    height: 100%;
  }
  .table-containerMain {
    width: 100vw;
    overflow-x: auto;
    margin: 20px 0;
    background: $glassmorphism;
    tbody {
      height: 1em;
      line-height: 1em;
    }
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    font-family: 'Lato', sans-serif;
    form{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    
  }
  
  
  th, td {
    width: 20em;
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
   
  }
  
  
  tbody tr:nth-child(even) {
    background-color: #918d8d; /* Alternance de couleur */
  }
  
  
  th {
    font-size: 1.1em;
    text-transform: uppercase;
    text-align: center;
  }
  
  td {
    font-size: 1.2em;
    line-height: 1.2em;
    
  }
  
  td p.tagFont {
    margin: 0; /* Supprimer les marges autour des tags */
    font-size: 0.85em;
    padding: 5px;
    background-color: $white-font;
    border-radius: 4px;
    display: inline-block;
  }
  
  .profilePic {
    border-radius: 10px; /* Coins arrondis pour l'image */
    object-fit: cover;
  }
  
  .modifyButton, .deleteButton {
    background-color: #31C351;
    color: $white-font;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.85em;
  }
  
  
  td.description {
    max-width: 300px;
    white-space: normal; /* Autoriser les retours à la ligne */
    overflow: hidden;
    text-overflow: ellipsis; /* Couper les textes trop longs avec "..." */
  }
  td {
      img {
        min-width: 150px;
        min-height: 150px;
      }
      button {
        img {
          max-width: 50px;
        max-height: 50px;
        }
      }
    }
  
  .buttonAlign {
    display: flex;
    gap: 10px;
  }
  
  button a {
    color: inherit; /* Garde la couleur du bouton pour le lien */
    text-decoration: none;
  }
  
  .resetButton a {
    padding: 8px 12px;
  }
  
  .fieldAdd {

    display: flex;
    width: 100%;
    height: 10em;
  }
  thead th:nth-child(4) {
    width: 20em;
  }
  thead th:nth-child(1) {
    width: 2em;
  }

  thead th:nth-child(5) {
    width: 15em;
  }
  thead th:nth-child(9) {
    width: 25em;
  }
  thead th:nth-child(10) {
    width: 25em;
  }
  thead th:nth-child(10) {
    width: 25em;
  }

  //----------------------------------------------------------------
  
  
    .modifyField{
      display: flex;
      width: 100%;
      flex-direction: row;
      .modifyButton{
        padding: 5px 20px 5px 20px;
      }
    }

    thead{
    
      th{
        width: 25em;
      }
    }
    #binaryButton{
      max-width: 50px;
      max-height: 50px;
    }
    #toggleheader {
      width: 50px;
    }
    td a {
      margin-left: 5em;
    }

  }
