// body {
//     @include background-image('HomeBackground');
//     background-size: cover;
// }



main h1 {
    align-items: center;
}

.homemessage {
    opacity: 0; /* Starts with the text invisible */
    transform: translateX(100%); /* Starts off-screen to the right */
    margin-bottom: 10em;
    animation: slideIn 1s ease-out forwards; /* Applies the animation */
    animation-delay: 0.5s; /* Delays the start of the animation */
    width: 50%;
}

/* Keyframes for the slideIn animation */
@keyframes slideIn {
    0% {
        opacity: 0; /* Fully transparent */
        transform: translateX(100%); /* Fully to the right */

    }
    100% {
        opacity: 1; /* Fully visible */
        transform: translateX(0); /* At its final position */

    }
}