<footer>

<div class="footerUnit">
<ul>
    <li>Nous contacter</li>
    <li>Mentions légales</li>
</ul>
</div>

<div class="">
<ul>
    <li>Copyright</li>
    <li></li>
</ul>
</div>

<div class="footerUnit">
<ul>
    <li>Crédits</li>
    <li>Conditions générales</li>
</ul>
</div>


</footer>